:root {
    --blue: hsl(223, 87%, 63%);
    --bluePale: hsl(223, 100%, 88%);
    --redLight: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --blueVeryDark: hsl(209, 33%, 12%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Libre Franklin', sans-serif;
}

.main-wrapper > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
    margin-top: 7rem;
}

.main-header > * + * {
    margin-top: 2rem;
}

h1 {
    font-weight: 400;
    color: var(--gray);
}

h1 span {
    font-weight: 700;
    color: initial;
}

small {
    font-size: 1rem;
}

form {
    width: 100%;
    padding: 0 3rem;
}

input {
    width: 100%;
    font-size: .8rem;
    padding: 1rem;
    border-radius: 30px;
    border-style: none;
    border: 1px solid var(--gray);
    padding-left: 2.5rem;
    color: var(--gray);
    font-family: 'Libre Franklin', sans-serif;
    outline: none;
}

.invalid {
    border: 1px solid var(--redLight);
    color: black;
}

.error-msg {
    display: none;
    text-align: center;
    margin-top: .7rem;
    color: var(--redLight);
    font-style: italic;
    font-size: .9rem;
    margin-bottom: 1.2rem;
}

.notify-button {
    margin-top: 1rem;
    display: inline-block;
    width: 100%;
    padding: .9rem;
    text-align: center;
    background-color: var(--blue);
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    color: whitesmoke;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

.notify-button:hover {
    opacity: .8;
}

.notify-button:active {
    transform: translateY(2px);
}

.illustration img{
    margin-top: 2rem;
    height: 20rem;
    width: 100%;
    padding: 2rem;
}

.main-footer {
    margin-top: 5rem;
}

.icon-container {
    display: flex;
    gap: 1rem;
}

.icon-container > * {
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-container > *:hover {
    background-color: var(--blue);
}

.icon-container > *:hover svg{
    /* fill: white; */
    stroke: white;
}

.icon-container svg {
    height: 20px;
    width: 20px;
    /* color: red; */
}

.main-footer small {
    margin: 2rem;
    color: var(--gray);
    font-size: .9rem;
}


@media (min-width:900px) {
    html {
        font-size: 20px;
    }


    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-wrapper {
        width: 760px;
    }

    .main-header {
        margin-top: 3rem;
    }

    .email-form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "email button"
        "error .";
        gap: 1rem;
    }

    #email {grid-area: email;}
    .error-msg {grid-area: error;}
    .notify-button {grid-area: button;}

    .error-msg {
        text-align: initial;
        transform: translateY(-25px);
        font-size: .7rem;
        margin-left: 2.3rem;
    }

    .notify-button {
        margin: 0;     
    }

    .illustration img {
        height: 25rem;
    }
}